CONFIG_ARM=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_ARCH_QEMU=y
CONFIG_SYS_MALLOC_LEN=0x1000000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x40200000
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEFAULT_DEVICE_TREE="qemu-arm64"
CONFIG_SYS_LOAD_ADDR=0x40200000

# UART
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_PL011=y
CONFIG_DEBUG_UART_BASE=0x9000000
CONFIG_DEBUG_UART_CLOCK=0
CONFIG_DEBUG_UART_SHIFT=2

CONFIG_CMD_BOOTI=y

CONFIG_OF_LIBFDT=y
CONFIG_OF_BOARD=y
CONFIG_OF_SEPARATE=y

# PCI
CONFIG_PCI=y
CONFIG_PCI_INIT_R=y
CONFIG_PCIE_ECAM_GENERIC=y
CONFIG_CMD_PCI=y

# USB host + storage
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_STORAGE=y

# CONFIG_MMC is not set
# CONFIG_MTD is not set
# CONFIG_SCSI is not set
# CONFIG_NVME_PCI is not set
# CONFIG_AHCI is not set
# CONFIG_TPM is not set
# CONFIG_ENV_IS_IN_FLASH is not set
# CONFIG_FIT_SIGNATURE is not set
# CONFIG_EFI_HTTP_BOOT is not set

CONFIG_SYSRESET=y
CONFIG_SYSRESET_CMD_POWEROFF=y
CONFIG_SYSRESET_PSCI=y

# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set

CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_RSA=y
CONFIG_RSA_VERIFY_WITH_PKEY=y
CONFIG_SHA256=y