CONFIG_ARM=y
CONFIG_ARCH_ARM64=y
CONFIG_TARGET_ARM64_PZX=y
CONFIG_TEXT_BASE=0x80000000
CONFIG_SYS_MALLOC_LEN=0x2000000
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEFAULT_DEVICE_TREE="arm64-pzx"
CONFIG_OF_CONTROL=y
CONFIG_OF_SEPARATE=y
CONFIG_DM=y
CONFIG_DM_SERIAL=y
CONFIG_PL01X_SERIAL=y
CONFIG_DM_MMC=y
CONFIG_ARM_PL180_MMCI=y
CONFIG_BAUDRATE=115200